{% extends "layout.html" %}
{% block content %}
<h2>Welcome, {{ user }}!</h2>
<h1> Prashanth Expense Tracker and Investment Tracking </h1>
<a href="https://docs.google.com/spreadsheets/d/1AccUH_X1SSLCtIFv9pUHxfq4CQhTpsumIokUZfL87bY/edit?gid=182432802#gid=182432802" class="btn btn-primary">Expense Tracker</a>
<a href="/plot" class="btn btn-success">Expense Visualization</a>
<a href="/investments" class="btn btn-warning">Investments</a>
<a href="/logout" class="btn btn-danger">Logout</a>
{% endblock %}